<h1>Boards</h1>
<%= link_to 'New Board', new_board_path %>
<!-- zamiast stringa jest metoda, że przekierowuje do danej ścieżki - patrzeć przez rake routes -->
<h3>Own Boards</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <%- @own_boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.title %></td>
        <td><%= board.created_at %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Show', board_path(board) %></td>
        <td><%= link_to 'Delete', board_path(board), method: :delete, data: { confirm: 'Ary you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Member Boards</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <%- @member_boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.title %></td>
        <td><%= board.created_at %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Show', board_path(board) %></td>
        <td><%= link_to 'Delete', board_path(board), method: :delete, data: { confirm: 'Ary you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>