<h1>Board nr: <%= @board.id %> Lists </h1>
<br>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <%- @board.lists.each do |list| %>
      <tr>
        <td><%= list.id %></td>
        <td><%= list.title %></td>
        <td><%= list.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_board_list_path(@board, list) %>
          <%= link_to 'Delete', board_list_path(@board, list), method: :delete, data: { confirm: "Are you sure?"} %>
          <%= link_to 'Show', board_list_path(@board, list) %>
        </td>

      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back to Boards', boards_path %>
</table>

<%= link_to "Add list", new_board_list_path(@board) %> </br>
<%= @lists %>
<%= link_to 'Back', boards_path %>
